<% layout('adminLayout') -%>
</br></br>
<script src="/js/angular_building.js"></script>

<script type="text/javascript">
    var sitegroupId = <%= sitegroup.id %>;
    var siteId = <%= site.id %>;
    var devicePath = '/json/devices/site/<%=site.id%>';
    var closetPath = '/json/closet/site/<%=site.id%>';
    var sortingOrder = 'id';
</script>

<div class="row">
    <div class="col-sm-6">
        <% include buildingList_partial %>
    </div>

    <div class="col-sm-6">
        <% include siteInformation_partial %>
    </div>
</div>

<% include deviceListAll_partial %>
