<% layout('adminLayout') -%>

<script type="text/javascript">
    var devicePath = '/json/devices';
    var sortingOrder = 'id';
</script>


<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#Devices" data-toggle="tab"><div ng-controller="ctrlDeviceListAll"><div ng-init="fecthItems()"></div><i class="fa fa-puzzle-piece"></i> Devices ({{countItems()}})</div></a></li>
</ul>

<div id='content' class="tab-content">
    <div class="tab-pane active" id="Devices">
        <% include deviceListAll_partial %>
    </div>
</div>
