<script src="/js/angular_deviceListAll.js"></script>
<script type="text/javascript">
    var sortingOrder = 'id';
</script>

<div class="row">
    <div ng-controller="ctrlDeviceListAll">
        <div class="panel panel-primary">
                <div ng-init="fecthItems()"></div>

                <div class="panel-heading">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Devices ({{countItems()}})
                </div>

                <div class="panel-body">
                    <!-- <input type="text" ng-model="query" ng-change="search()" class="input-large search-query form-control pull-right" placeholder="Search"/> -->
                    <br/><br/>
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="device_id col-sm-1">
                                <small># &nbsp;<a ng-click="sort_by('device_id')"><i
                                                class="glyphicon glyphicon-sort"></i></a></small>
                            </th>
                            <th class="device_serial col-sm-1">
                                <small>Serial # &nbsp;<a ng-click="sort_by('device_serial')"><i
                                                class="glyphicon glyphicon-sort"></i></a></small>
                            </th>
                            <th class="device_name col-sm-1">
                                <small>Name &nbsp;<a ng-click="sort_by('device_name')"><i
                                                class="glyphicon glyphicon-sort"></i></a></small>
                            </th>
                            <th class="ProductCategory_name col-sm-1">
                                <small>Category &nbsp;<a ng-click="sort_by('ProductCategory_name')"><i
                                                class="glyphicon glyphicon-sort"></i></a></small>
                            </th>
                            <th class="product_name">
                                <small>Product &nbsp;<a ng-click="sort_by('product_name')"><i
                                                class="glyphicon glyphicon-sort"></i></a></small>
                            </th>
                            <th class="location">
                                <small>Location</small>
                            </th>
                            <th class="col-sm-1"><a href="#modalAddDevice" role="button" data-toggle="modal"
                                                    class="glyphicon glyphicon-plus-sign"></a></th>
                        </tr>
                        <tr>
                            <th class="device_id">
                            </th>
                            <th class="device_serial col-sm-1">
                                <input type="text" ng-model="filterItem.device_serial" ng-change="search()" placeholder="Serial"/>
                            </th>
                            <th class="device_name col-sm-1">
                                <input type="text" ng-model="filterItem.device_name" ng-change="search()" placeholder="Name"/>
                            </th>
                            <th class="ProductCategory_name col-sm-1">
                                <input type="text" ng-model="filterItem.ProductCategory_name" ng-change="search()" placeholder="Category"/>
                            </th>
                            <th class="product_name">
                                <input type="text" ng-model="filterItem.product_name" ng-change="search()" placeholder="Product"/>
                            </th>
                            <th class="location">
                            </th>
                            <th class="col-sm-1"></th>
                        </tr>

                        </thead>
                        <tfoot>
                        <tr>
                            <td colspan="6">
                                    <ul class="pager">
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="gotoPage(0)">First</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="prevPage()">« Prev</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="nextPage()">Next »</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="gotoPage(pagedItems.length - 1)">Last</a>
                                        </li>
                                    </ul>
                            </td>
                            </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                            <td><a href="#" class="custom-tooltip"><span class="label label-info">i</span><span class="custom-tooltip">{{item.device_name}}</span></a>  <small>{{item.device_id}}</small></td>
                            <td><small>{{item.device_serial}}</small></td>
                            <td><small>{{item.device_name}}</small></td>
                            <td><small>{{item.ProductCategory_name}}</small></td>
                            <td><small>{{item.product_name}}</small></td>
                            <td>
                                <small>
                                    <a href="/sitegroup/{{item.sitegroup_id}}">{{item.sitegroup_name}}</a> /
                                    <a href="/sitegroup/{{item.sitegroup_id}}/site/{{item.site_id}}">{{item.site_name}}</a> /
                                    <a href="/sitegroup/{{item.sitegroup_id}}/site/{{item.site_id}}/building/{{item.building_id}}">{{item.building_name}}</a> /
                                    <a href="/sitegroup/{{item.sitegroup_id}}/site/{{item.site_id}}/building/{{item.building_id}}/floor/{{item.floor_id}}">{{item.floor_name}}</a> /
                                    <a href="/sitegroup/{{item.sitegroup_id}}/site/{{item.site_id}}/building/{{item.building_id}}/floor/{{item.floor_id}}/closet/{{item.closet_id}}">{{item.closet_name}}</a>
                                </small>
                            </td>
                            <td>
                                <a href="#modalEditDevice" data-toggle="modal" data-id="{{item.device_id}}" data-name="{{item.device_name}}" class="open-EditDevice glyphicon glyphicon-pencil" title="edit"></a>
                                <a href="#modalDeleteDevice" data-toggle="modal" data-id="{{item.device_id}}" data-name="{{item.device_name}}" class="open-DeleteDevice glyphicon glyphicon-remove" title="delete"></a>
                                <a href="#modalCommentDevice" data-toggle="modal" data-id="{{item.device_id}}" data-name="{{item.device_name}}" class="open-CommentDevice glyphicon glyphicon-comment" title="comments ()"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
<br/>
