<!DOCTYPE html>
<html ng-app>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-validator.css' />
    <link rel='stylesheet' href='/stylesheets/custom-tooltip.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/bootstrap-validator.js"></script>
    <script src="/js/angular.js"></script>

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= title %></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Inventory <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/sitegroup"><span class="fa fa-hospital-o"></span> Site Groups</a></li>
                        <li><a href="/devices"><span class="fa fa-puzzle-piece"></span> Devices</a></li>
                    </ul>
                </li>

                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Administration <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/usergroup"><span class="fa fa-users"></span> Groups and Users</a> </li>
                        <li><a href="/admin/ProductCategory"><span class="fa fa-table"></span> Product Category</a></li>
                        <li><a href="/admin/audit"><span class="fa fa-file-text-o"></span> Audit</a></li>
                    </ul>
                </li>
             </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" class="">[ Logout ]</a></li>
            </ul>
        </div><!--/.navbar-collapse -->
    </div>
</div>

<br/>
<br/>
<div class="container-fluid main">
<%- body %>
</div>

</body>
</html>