<% layout('adminLayout') -%>
<script src="/js/angular_userDetails.js"></script>
<script type="text/javascript">
    var userid = <%= user.id %>;
</script>

<div ng-controller="ctrlUserDetails">
    <div ng-init="fecthItems()"></div>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#User" data-toggle="tab"><i class="fa fa-user"></i> {{item.information.username}}</a></li>
    </ul>

    <div id='content' class="tab-content">
        <div class="tab-pane active" id="User">
            <div class="panel panel-default" style="border-top: medium none; border-top-left-radius: 0px; border-top-right-radius: 0px;">
            <div class="row">
                <div class="col-sm-2 profile-pic" style="padding-top: 20px;">
                    <img src="/img/avatars/avatar.png" class="center-block" style="vertical-align: middle">
                </div>
                <div class="col-sm-10">
                    <h1>{{item.information.name}}<br><small>{{item.information.position}}</small></h1>

                    <ul class="list-unstyled">
                        <div ng-show="item.telephones.length > 0">
                            <div ng-repeat="telephone in item.telephones">
                                <li>
                                    <p class="text-muted">
                                    <i class="fa fa-phone"></i>      <a href="tel:{{telephone.telephone}}" target="_blank" >{{telephone.telephone}}</a>       <small><i>{{telephone.title}}</i></small>
                                    </p>
                                </li>
                            </div>
                        </div>
                        <div ng-show="item.telephones.length <= 0 ">
                            <li>
                                <p class="text-muted">
                                    <i class="fa fa-phone"></i>      <a href="#modalAddUserTelephone" role="button" data-toggle="modal" class="glyphicon glyphicon-plus-sign text-success" title="Add Telephone"></a>
                                </p>
                            </li>
                        </div>
                        <div ng-show="item.emails.length > 0">
                            <div ng-repeat="email in item.emails">
                                <li>
                                    <p class="text-muted">
                                    <i class="fa fa-envelope"></i>      <a href="mailto:{{email.email}}" target="_blank" > {{email.email}}</a>       <small><i>{{email.title}}</i></small>
                                    </p>
                                </li>
                            </div>
                        </div>
                        <div ng-show="item.emails.length <= 0">
                                <li>
                                    <p class="text-muted">
                                        <i class="fa fa-envelope"></i>      <a href="#modalAddUserEmail" role="button" data-toggle="modal" class="glyphicon glyphicon-plus-sign text-success" title="Add Email"></a>
                                    </p>
                                </li>
                        </div>
                        <div ng-show="item.addresses.length > 0">
                            <div ng-repeat="address in item.addresses">
                                <li>
                                    <p class="text-muted">
                                    <i class="fa fa-map-marker"></i>      <a href="http://maps.google.com/?q={{address.address1}}, {{address.city}}, {{address.state}} {{address.zipcode}}" target="_blank" > {{address.address1}}, {{address.city}}, {{address.state}} {{address.zipcode}} </a>
                                    </p>
                                </li>
                            </div>
                        </div>
                        <div ng-show="item.addresses.length <= 0">
                                <li>
                                    <p class="text-muted">
                                    <i class="fa fa-map-marker"></i>      <a href="#modalAddUserAddress" role="button" data-toggle="modal" class="glyphicon glyphicon-plus-sign text-success" title="Add Address"></a>
                                    </p>
                                </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <div class="padding-10">

                        <ul class="nav nav-tabs tabs-pull-right">
                            <li class="">
                                <a href="#" data-toggle="tab"></a>
                            </li>
                            <li class="active">
                                <a href="#a1" data-toggle="tab">Comments</a>
                            </li>
                            <li>
                                <a href="#a2" data-toggle="tab">Notes</a>
                            </li>
                            <li class="pull-left">
                                <span class="margin-top-10 display-inline"><i class="fa fa-rss text-success"></i> Activity</span>
                            </li>
                        </ul>

                        <div class="tab-content padding-top-10">
                            <div class="tab-pane fade in active" id="a1">

                                <div class="row">

                                    <div class="col-xs-2 col-sm-1">
                                        <time datetime="2014-09-20" class="icon">
                                            <strong>Jan</strong>
                                            <span>10</span>
                                        </time>
                                    </div>

                                    <div class="col-xs-10 col-sm-11">
                                        <h6 class="no-margin"><a href="javascript:void(0);">Allice in Wonderland</a></h6>
                                        <p>
                                            Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui.
                                            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                            sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel.
                                        </p>
                                    </div>

                                    <div class="col-sm-12">

                                        <hr>

                                    </div>

                                    <div class="col-xs-2 col-sm-1">
                                        <time datetime="2014-09-20" class="icon">
                                            <strong>Jan</strong>
                                            <span>10</span>
                                        </time>
                                    </div>

                                    <div class="col-xs-10 col-sm-11">
                                        <h6 class="no-margin"><a href="javascript:void(0);">World Report</a></h6>
                                        <p>
                                            Morning our be dry. Life also third land after first beginning to evening cattle created let subdue you'll winged don't Face firmament.
                                            You winged you're was Fruit divided signs lights i living cattle yielding over light life life sea, so deep.
                                            Abundantly given years bring were after. Greater you're meat beast creeping behold he unto She'd doesn't. Replenish brought kind gathering Meat.
                                        </p>
                                    </div>

                                    <div class="col-sm-12">

                                        <br>

                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade" id="a2">

                                <div class="alert alert-info fade in">
                                    <button class="close" data-dismiss="alert">
                                        ×
                                    </button>
                                    <i class="fa-fw fa fa-info"></i>
                                    <strong>51 new members </strong>joined today!
                                </div>

                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/female.png"><a href="javascript:void(0);">Jenn Wilson</a>
                                    <div class="email">
                                        travis@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
                                    <div class="email">
                                        marshall@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
                                    <div class="email">
                                        joe@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
                                    <div class="email">
                                        mike@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Travis Wilson</a>
                                    <div class="email">
                                        travis@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
                                    <div class="email">
                                        marshall@company.com
                                    </div>
                                </div>
                                <div class="user" title="Joe Cadena joe@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
                                    <div class="email">
                                        joe@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Mike McBride</a>
                                    <div class="email">
                                        mike@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Marshall Hitt</a>
                                    <div class="email">
                                        marshall@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);">Joe Cadena</a>
                                    <div class="email">
                                        joe@company.com
                                    </div>
                                </div>
                                <div class="user" title="email@company.com">
                                    <img src="img/avatars/male.png"><a href="javascript:void(0);"> Mike McBride</a>
                                    <div class="email">
                                        mike@company.com
                                    </div>
                                </div>

                                <div class="text-center">
                                    <ul class="pagination pagination-sm">
                                        <li class="disabled">
                                            <a href="javascript:void(0);">Prev</a>
                                        </li>
                                        <li class="active">
                                            <a href="javascript:void(0);">1</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">2</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">3</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">...</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">99</a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">Next</a>
                                        </li>
                                    </ul>
                                </div>

                            </div><!-- end tab -->
                        </div>

                    </div>

                </div>

            </div>
            </div>
        </div>
    </div>
</div>


