<% layout('sitesLayout') -%>
</br></br>
<div class="container">
    <div class="row">
        <div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-tasks"></i>
                    Sites
                    <% if(sites) { %>
                    (<%= sites.length %>)
                    <% } %>
                </div>
                <div class="panel-body">
                    <p></p>
                </div>
                <table class="table table-striped">
                    <tr>
                        <th class="col-sm-2">Code</th>
                        <th>Name</th>
                        <th class="col-sm-1"><a href="#modalAddSite" role="button" data-toggle="modal" class="glyphicon glyphicon-plus-sign" title="Add a site"></a></th>
                    </tr>
                    <% if(sites && sites instanceof Array && sites.length > 0 ) { %>
                    <% for(var i = 0; i < sites.length; i++) { %>
                    <tr>
                        <td>
                            <a href="/Sites/<%= sites[i].code %>"><%= sites[i].code %></a>
                        </td>
                        <td><%= sites[i].name %></td>
                        <td>
                            <a href='' class="glyphicon glyphicon-pencil" title="edit"></a>
                            <a href="" class="glyphicon glyphicon-remove" title="delete"></a>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </table>
                <div class="panel-body">
                    <p></p>
                </div>
            </div>
        </div>
        <!--/span-->


    </div>
    <!--/row-->

    <hr>
</div><!--/.container-->


<!--Modals-->
<div class="modal" tabindex="-1" role="dialog" id="modalAddSite" aria-labelledby="modalAddSiteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>

                <h3>Add a new Site</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal" action="/Sites" method="post">
                    <div class="form-group">
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="site" name="site" placeholder="Site"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="code" name="code" placeholder="Code"/>
                        </div>
                    </div>

                    <label class="control-label">Address</label>

                    <div class="form-group">
                        <div class="col-lg-10">
                            <input type="text" class="form-control" id="address1" name="address1"
                                   placeholder="Address 1"/>
                            <input type="text" class="form-control" id="address2" name="address2"
                                   placeholder="Address 2"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-4">
                            <input type="text" id="city" class="form-control" placeholder="City"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" id="state" class="form-control" placeholder="State"/>
                        </div>
                        <div class="col-lg-3">
                            <input type="text" id="zipcode" class="form-control" placeholder="ZipCode"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



